<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns="http://www.springframework.org/schema/beans"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
        <!--http://www.springframework.org/schema/beans/spring-beans.xsd">-->

    <!--<bean id="personDao" class="com.oneso.dao.PersonDaoSimple" />-->

    <!--<bean id="personService" class="com.oneso.service.PersonServiceImpl">-->
        <!--<constructor-arg name="dao" ref="personDao"/>-->
    <!--</bean>-->

    <!--<bean id="questionDao" class="com.oneso.dao.QuestionDaoSimple" />-->

    <!--<bean id="questionService" class="com.oneso.service.QuestionServiceImpl">-->
        <!--<constructor-arg name="qDao" ref="questionDao"/>-->
    <!--</bean>-->

    <!--<bean id="quizService" class="com.oneso.service.QuizServiceImpl">-->
        <!--<constructor-arg name="personService" ref="personService"/>-->
        <!--<constructor-arg name="questionService" ref="questionService"/>-->
    <!--</bean>-->

<!--</beans>-->